<input
  [formControl]="control"
  [type]="type"
  class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
  [placeholder]="placeholder"
  [mask]="format"
  [dropSpecialCharacters]="false"
/>
<ng-container *ngIf="control.touched && control.dirty">
  <p *ngIf="control.errors?.required" class="text-red-400">Field is required</p>
  <p *ngIf="control.errors?.minlength" class="text-red-400">
    You entered
    {{ control.errors?.minlength.actualLength }} character(s), but minimum is
    {{ control.errors?.minlength.requiredLength }} characters.
  </p>
  <p *ngIf="control.errors?.email" class="text-red-400">Enter a valid email</p>
  <p *ngIf="control.errors?.min" class="text-red-400">Value too low, must be greater than or equal {{ control.errors?.min.min }}</p>
  <p *ngIf="control.errors?.max" class="text-red-400">Value too high, must be less than or equal {{ control.errors?.max.max }}</p>
  <p *ngIf="control.errors?.pattern" class="text-red-400">Password must be at least 8 characters, contain at least 1 uppercase character, 1 lowercase character</p>
</ng-container>
